@media screen and (min-width: 780px) {
    /* body, * {
        cursor: none;
    } */
    .cursor {
        position: fixed;
        background-color: #BE1E2D;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
        user-select: none;
        pointer-events: none;
        z-index: 10000;
        transform: scale(1);
    }
    .cursor.active {
        opacity: 1;
        transform: scale(0);
    }
    
    .cursor.menu-active {
        opacity: 1;
        transform: scale(0);
    }
    
    .cursor.hovered {
        opacity: 1;
    }
    
    .cursor-follower {
        position: fixed;
        border:2.5px solid #BE1E2D;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
        user-select: none;
        pointer-events: none;
        z-index: 10000;
        transform: translate(2px, 2px);
        /* overflow: hidden; */
    }
    .cursor-follower.active {
        opacity: 1;
        transform: scale(3);
    }
    .cursor-follower.menu-active {
        opacity: 1;
        transform: scale(3);
    }
    .cursor-follower.hovered {
        opacity: 1;
    }
}