.news {
    overflow: hidden;
}

.news-img {
    height: 400px;
    background-size: 100% 100%;
    transition: all .1s ease-in-out;

}
.news-img-13 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/for-bhar-2020.jpg);
}

.news-img-12 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/eficycle-2018.jpg);
}

.news-img-11 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/eficycle-2017.jpg);
}

.news-img-10 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/tachyon-2017.jpg);
}

.news-img-9 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/tel-article-2017.jpg);
}

.news-img-8 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/techevince-2017.jpg);
}

.news-img-7 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/for-bhar-2017.JPG);
}

.news-img-6 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/article-2015.jpg);
}

.news-img-5 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/eficycle-2015.jpg);
}

.news-img-4 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/supra-2015.jpg);
}

.news-img-3 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/eficycle-2014.jpg);
}

.news-img-2 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/eficycle-2013.jpeg);
}

.news-img-1 {
    background-image: url(../img_news/BlackOverlay.png), url(../img_news/Baja-2012.jpg);
}

.news-img:hover {
    transform: scale(1.05);
}

/* News content  */
.cnt-img {
    height: 35rem;
}


/* Responsive  */
@media screen and (max-width: 648px) {
    .news-img {
        height: 250px;
    }

    .cnt-img {
        height: 25rem;
    }
     
}